<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.dao.ProductMapper" >
  <resultMap id="BaseResultMap" type="com.accp.entity.Product" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="pic_url" property="picUrl" jdbcType="VARCHAR" />
    <result column="view_price" property="viewPrice" jdbcType="VARCHAR" />
    <result column="nick" property="nick" jdbcType="VARCHAR" />
    <result column="view_sales" property="viewSales" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, pic_url, view_price, nick, view_sales
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from product
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectProduct" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from product
  </select>
  <!--动态sql-->
  <select id="executeSql" resultType="map">
    ${_parameter}
  </select>
  <select id="countProduct" parameterType="java.util.Map" resultType="java.lang.Integer">
    ${_parameter}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from product
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.accp.entity.Product" >
    insert into product (id, title, pic_url, 
      view_price, nick, view_sales
      )
    values (#{id,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{picUrl,jdbcType=VARCHAR}, 
      #{viewPrice,jdbcType=VARCHAR}, #{nick,jdbcType=VARCHAR}, #{viewSales,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.accp.entity.Product" >
    insert into product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="picUrl != null" >
        pic_url,
      </if>
      <if test="viewPrice != null" >
        view_price,
      </if>
      <if test="nick != null" >
        nick,
      </if>
      <if test="viewSales != null" >
        view_sales,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="picUrl != null" >
        #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="viewPrice != null" >
        #{viewPrice,jdbcType=VARCHAR},
      </if>
      <if test="nick != null" >
        #{nick,jdbcType=VARCHAR},
      </if>
      <if test="viewSales != null" >
        #{viewSales,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.entity.Product" >
    update product
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="picUrl != null" >
        pic_url = #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="viewPrice != null" >
        view_price = #{viewPrice,jdbcType=VARCHAR},
      </if>
      <if test="nick != null" >
        nick = #{nick,jdbcType=VARCHAR},
      </if>
      <if test="viewSales != null" >
        view_sales = #{viewSales,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.entity.Product" >
    update product
    set title = #{title,jdbcType=VARCHAR},
      pic_url = #{picUrl,jdbcType=VARCHAR},
      view_price = #{viewPrice,jdbcType=VARCHAR},
      nick = #{nick,jdbcType=VARCHAR},
      view_sales = #{viewSales,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>